@import "../Variables/Variables.scss";

.input {
    font-family: $mainFont;
    width: 30%;
    border: 0;
    border-bottom: 2px solid $greyColor;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}